h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 5rem;
    color: #FFFFFF;
}

h2,
h3,
p {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 1.75rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    font-weight: 600;
}

p {
    font-size: 1rem;
    line-height: 1.75;
}

a {
    font-size: 1rem;
    box-sizing: content-box;
}

a:hover {
    color: #3f72af;
    outline: none;
}

/* NAVIGATION */
.navigation {
    background-color: #112d4e;
    padding: 30px 10%;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.25rem;
    text-align: center;
}

.navbar-dark .navbar-toggler {
    color: #f9f7f7;
    border: none;
}

.logo {
    width: 100px;
    padding-right: 30px;
}

.header-link {
    color: #f9f7f7;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

/***** INDEX PAGE *****/
.designs-container {
    background-color: #f9f7f7;
    padding: 80px 10%;
}

.design-type-container {
    padding-top: 40px;
}

.design-type-image-container {
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.design-type-image-left {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 1rem;
    grid-row-start: 1;
    grid-row-end: 2;
}

.design-type-image-left:hover,
.design-type-image-right:hover {
    opacity: 30%;
}

.design-type-image-right {
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 1rem;
    border-left: none;
    grid-row-start: 2;
    grid-row-end: 3;
}

.design-type-header {
    padding-bottom: 30px;
}

/* LANDING PAGES */
.projects-landing-page {
    background-color: #f9f7f7;
    text-align: center;
    padding: 90px 10%;
}

.projects-image {
    width: 90%;
    height: 70%;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 30px;
}

.projects-selection {
    margin-top: 20px;
}

/* BG COLOR TEXT */
.light-bg-text {
    color: #3f72af;
}

.dark-bg-text {
    color: #f9f7f7;
}

/* MORE PROJECTS FOOTER 
.designs-footer {
    background-color: #dbe2ef;
    padding: 50px 10% 70px;
    text-align: center;
}

.design-footer-images {
    width: 20%;
    margin: 20px 20px 0;
    border-radius: 1rem;
} */

/* PROJECT PAGES INTRO*/
.projects-intro-container {
    background-color: #dbe2ef;
    padding: 90px 10%;
    overflow: auto;
}

.projects-intro-image {
    float: left;
    width: 45%;
    position: relative;
    border-radius: 1rem;
    margin-right: 40px;
}

.projects-header {
    padding-bottom: 10px;
}

/* PROJECT PAGES PROCESS */
#project-body-container {
    background-color: #f9f7f7;
}

.process-container {
    padding: 80px 10%;
}

.process-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.process-header {
    padding-bottom: 20px;
}

.process-image {
    height: 180px;
    object-fit: cover;
    margin: 10px;
    border-radius: 1rem;
}

.finals-header {
    text-align: left;
}

.final-fullwidth-image {
    width: 100%;
}

.final-halfcolumn-image {
    width: 80%;
}

/* HORIZONTAL LINE 
hr {
    border-top: 4px dotted;
    background-color: #f9f7f7;
    color: #3f72af;
    opacity: 90%;
    width: 100%;
    margin: 30px 0;
} */

/* BOMBSHELL PROJECT */
.bombshell-final {
    padding: 80px 10% 0;
    text-align: center;
}

.bombshell-fragrance-bar,
.bombshell-tables {
    padding-bottom: 80px;
}

/* PINK BEAUTY */
.pink-final-container {
    padding: 80px 10% 0;
}

.pink-final-image {
    width: 100%;
    margin-top: 25px;
    border-radius: 1rem;
}

/* HIGHLIGHTER */
.highlighter-elements-container {
    padding: 0 10% 30px;
}

.element-overview {
    margin: 20px 0 40px;
    border-radius: 1rem;
}

.highlighter-final {
    padding: 0 10%;
}

.multiuse-highlighter-final {
    padding: 40px 10% 0;
}

.highlighter-final-images {
    border-radius: 1rem;
    margin-top: 50px;
}

/* TESLA */
.tesla-final-container {
    padding: 80px 10% 0;
}

.tesla-final-image {
    width: 100%;
    height: 330px;
    object-fit: cover;
    margin-top: 25px;
    border-radius: 1rem;
}

/* NIKE */
.nike-planogram {
    padding: 80px 10% 80px;
}

.nike-final {
    padding: 0 10%;
}

.nike-final-image {
    border-radius: 2rem;
    margin-top: 30px;
}

/* MALL BANNERS & MARKETING*/
.mall-banners-intro,
.marketing-intro {
    padding: 0 10%;
    text-align: center;
}

.mall-banners-final {
    padding: 20px 10% 20px;
}

.mall-banners-final-image {
    border-radius: 1rem;
    margin-top: 60px;
}

.marketing-headers {
    text-align: center;
}

.marketing-final,
.office-marketing {
    padding: 80px 10% 0;
}

.marketing-final-image {
    margin-top: 30px;
}

.office-marketing-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 1rem;
}

/*JOHN VARVATOS*/
.banner-ads,
.email-blasts {
    padding: 80px 10% 0;
}

.banner-collection,
.rectangle-banner-collection {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.emails-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    align-items: start;
}

.skyscraper-banner,
.rectangle-banner {
    width: 20%;
    padding: 10px;
}

.emails {
    width: 25%;
    padding: 0 10px 10px;
    margin-top: 20px;
}

/* ABOUT ME */
.bio-container {
    background-color: #112d4e;
    padding: 60px 15% 100px;
}

.bio-logo {
    width: 10%;
    padding-right: 15px;
}

.bio-text {
    text-align: left;
    padding-right: 25%;
}

.bio-header {
    font-size: 2rem;
    padding-bottom: 20px;
}

.bio-link-images {
    width: 7%;
    padding-top: 10px;
    padding-right: 15px;
}

/* CAROUSELS */
.carousel-container {
    padding: 90px 20% 0;
}

.carousel-header {
    text-align: center;
    padding-bottom: 20px;
}

.carousel-inner {
    width: 100%;
    border: .5px solid #3f72af;
}

.carousel-control-prev {
    opacity: .75;
    text-align: left;
    padding-left: 10px;
}

.carousel-control-next {
    opacity: .75;
    text-align: right;
    padding-right: 10px;
}

.carousel-button {
    width: 25%;
}

/* BACK TO TOP */
.sub-footer {
    padding: 40px 10% 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sub-footer-links {
    color: #3f72af;
    text-decoration: none;
    font-weight: 600;
}

/* FOOTER */
.footer {
    background-color: #112d4e;
    padding: 30px 10% 30px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.footer-logo {
    width: 4%;
}

.footer-links {
    color: #f9f7f7;
    font-size: 1rem;
    padding: 0 30px;
    text-decoration: none;
}

/***** RESPONSIVE SETTING WIDTH 1201*****/
@media screen and (max-width:1201px) {
    .navigation {
        padding: 30px 10%;
    }

    .projects-landing-page {
        padding: 90px 10% 60px;
    }

    .design-footer-images {
        width: 20%;
        height: 20%;
        object-fit: cover;
    }

    .projects-intro-container {
        padding: 90px 15%;
    }

    .process-container {
        padding: 80px 10% 0;
    }

    .process-images-container {
        padding: 20px 0 0;
        text-align: center;
    }

    .bombshell-final {
        padding-top: 80px;
    }

    .bombshell-fragrance-bar,
    .bombshell-tables {
        padding-bottom: 40px;
    }

    .bombshell-tables-image {
        padding: 20px 0 20px;
    }

    .pink-products {
        border-radius: 1rem;
    }

    .pink-final-container {
        padding: 80px 10% 20px;
    }

    .mall-banners-final-image {
        border-radius: 1rem;
        margin-top: 40px;
    }

    .marketing-final,
    .office-marketing {
        text-align: center;
        padding-top: 80px;
    }

    .marketing-headers {
        text-align: center;
    }

    .marketing-final-image,
    .office-marketing-image {
        margin-top: 30px;
    }

    .carousel-container {
        padding: 80px 20% 0;
    }

    .bio-logo {
        width: 12%;
    }

    .bio-link-images {
        width: 10%;
    }
}

/***** MOBILE SETTING WIDTH 991 *****/
@media screen and (max-width:991px) {
    h1 {
        font-size: 3rem;
        padding-bottom: 10px;
    }

    h2 {
        font-size: 1.25rem;
    }

    h3 {
        font-size: 1.25rem;
    }

    p {
        font-size: .825rem;
    }

    .intro-container {
        padding: 80px 10%;
    }

    .intro-logo {
        width: 100px;
    }

    .designs-container {
        text-align: center;
        padding: 30px 10% 70px;
    }

    .logo {
        width: 90px;
    }

    .projects-intro-image {
        float: none;
        width: 90%;
        height: 100%;
        object-fit: cover;
        margin-bottom: 50px;
        margin-right: 0;
    }

    .projects-intro-container,
    .process-container,
    .finals-header,
    .pink-header,
    .elements-overview-header {
        text-align: center;
    }

    .pink-products {
        margin-bottom: 30px;
    }

    .pink-final-container {
        padding: 80px 10% 0;
    }

    .nike-sketches-container,
    .nike-planogram {
        text-align: center;
    }

    .skyscraper-banner,
    .rectangle-banner {
        width: 40%;
        padding: 10px;
    }

    .emails-container {
        justify-content: center;
    }

    .emails {
        width: 45%;
        padding: 10px;
    }

    .bio-text {
        text-align: center;
        padding: 0;
    }

    .bio-link-images {
        width: 15%;
        padding: 10px 10px 0 10px;
    }

    .bio-design-icon {
        width: 40%;
        padding-top: 30px;
    }

    .footer-logo {
        width: 8%;
    }

    .footer-links {
        font-size: .75rem;
    }
}

/*
color:#112d4e
color:#3f72af;
color:#dbe2ef;
color:#f9f7f7;
*/